@import url("https://fonts.googleapis.com/css2?family=Gugi&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  color: inherit;
  border: 0;
  outline: none;
  text-decoration: none;
}

/* Spacing variable*/
/*  colors variable */
@media (prefers-color-scheme: dark) {
  html, body {
    background-color: rgb(31, 31, 31);
    color: #ffffff;
  }
}
html, body {
  width: 100%;
  height: fit-content;
  overflow: auto;
}

.main-wrapper {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

#container, .main-content {
  width: 100%;
  height: auto;
}

#led-form {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#led-form #led_list {
  width: 100%;
  max-width: 70em;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
  gap: 1em;
}
#led-form #led_list .field {
  position: relative;
  height: 15em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.4em;
  border-radius: 5px;
}
@media only screen and (max-width: 800px) {
  #led-form #led_list .field {
    height: 11em;
  }
}
@media (prefers-color-scheme: dark) {
  #led-form #led_list .field {
    box-shadow: rgba(255, 255, 255, 0.4) 0px 1px 3px, rgba(255, 255, 255, 0.4) 0px 1px 2px;
    background-color: rgba(255, 255, 255, 0.05);
  }
}
@media (prefers-color-scheme: light) {
  #led-form #led_list .field {
    box-shadow: rgba(128, 128, 128, 0.4) 0px 1px 3px, rgba(128, 128, 128, 0.4) 0px 1px 2px;
  }
}
#led-form #led_list .field .wrapper {
  position: relative;
  width: 100%;
  height: 8em;
  width: 4em;
}
#led-form #led_list .field input[name=led__state] {
  position: absolute;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
#led-form #led_list .field input[name=led__state]:checked + .field__image::after {
  content: "ON";
}
#led-form #led_list .field input[name=led__state]:checked + .field__image .led__icon {
  transition: filter 0.5s ease-in-out;
  filter: none;
}
#led-form #led_list .field input[name=led__state]:checked + .field__image[data-led=red] .led__icon {
  position: relative;
  filter: drop-shadow(0 -1mm 8mm rgb(255, 0, 0)) drop-shadow(0 -1mm 6mm rgba(255, 0, 0, 0.5));
}
#led-form #led_list .field input[name=led__state]:checked + .field__image[data-led=green] .led__icon {
  filter: drop-shadow(0 -1mm 8mm rgb(0, 255, 0)) drop-shadow(0 -1mm 6mm rgba(0, 255, 0, 0.5));
}
#led-form #led_list .field input[name=led__state]:checked + .field__image[data-led=yellow] .led__icon {
  filter: drop-shadow(0 -1mm 8mm rgb(255, 255, 0)) drop-shadow(0 -1mm 6mm rgb(255, 255, 0));
}
#led-form #led_list .field .led__name {
  font-family: "Gugi", cursive;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
@media (prefers-color-scheme: dark) {
  #led-form #led_list .field .led__name {
    --tone: 255;
  }
}
@media (prefers-color-scheme: light) {
  #led-form #led_list .field .led__name {
    --tone: 175;
  }
}
#led-form #led_list .field .led__name[for=green_led] {
  color: rgb(0, var(--tone), 0);
}
#led-form #led_list .field .led__name[for=yellow_led] {
  color: rgb(var(--tone), var(--tone), 0);
}
#led-form #led_list .field .led__name[for=red_led] {
  color: rgb(var(--tone), 0, 0);
}
#led-form #led_list .field .field__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
#led-form #led_list .field .field__image .led__icon {
  height: 100%;
  width: 100%;
  object-fit: contain;
  transition: filter 0.5s ease-in-out;
  filter: grayscale(80%);
}
#led-form #led_list .field .field__image::after {
  position: absolute;
  display: flex;
  text-align: center;
  justify-content: center;
  content: "OFF";
  width: 100%;
  font-family: "Gugi", cursive;
  font-size: 0.7em;
  left: 0;
  top: -0.6em;
}

.section.led-controls {
  width: 100%;
}

main {
  min-height: 90vh;
}

.section.led-controls, .section {
  padding: 4em;
}
.section.led-controls .content, .section .content {
  margin-top: 1em;
}
@media only screen and (max-width: 600px) {
  .section.led-controls, .section {
    padding: 1em;
  }
}
.section.led-controls header, .section header {
  font-family: "Gugi", Arial, Helvetica, sans-serif;
  font-size: 1.4em;
}
.section.led-controls .content p, .section .content p {
  padding: 0 0 1.6em 0;
  font-family: "Gugi", Arial, Helvetica, sans-serif;
}

#footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  padding: 4em;
  padding-top: 2em;
  background-color: #2f2f2f;
  color: #FFF;
}
@media (prefers-color-scheme: dark) {
  #footer {
    background-color: #000000;
  }
}
@media (prefers-color-scheme: light) {
  #footer {
    background-color: #2f2f2f;
  }
}
@media only screen and (max-width: 600px) {
  #footer {
    padding: 1em;
  }
}
#footer #logo {
  display: flex;
  justify-content: center;
}
#footer #logo__media {
  width: 100%;
  max-width: 20em;
  height: auto;
}
#footer #credits {
  padding-top: 0;
}
#footer #credits p {
  padding: 0 0 0.6em 0;
  font-family: "Gugi", Arial, Helvetica, sans-serif;
  color: rgb(218, 218, 218) fff18;
}
#footer #credits .person a {
  padding: 0 0 0.6em 0;
  display: flex;
  gap: 0.4em;
  font-family: "Gugi", Arial, Helvetica, sans-serif;
}
#footer #credits .person a i {
  color: rgb(255, 255, 255);
}

/*# sourceMappingURL=style.css.map */
